.catalog{
    @include s_1200{
        display: none;
    }
    &__tab{
        display: flex;
        position: relative;
        align-items: center;
        column-gap: 8px;
        color: $black-1;
        font-family: 'SF Pro Display-Medium',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        background-color: transparent;
        text-align: left;
        width: 100%;
        &-icon{
            pointer-events: none;
        }
        &:hover{
            cursor: pointer;
        } 
        &.tab_active{
            color: $prime-prime;
        }
        &-content-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
            grid-gap: 10px;
            justify-items: flex-start;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            row-gap: 32px;
            column-gap: 45px;
            overflow-y: auto;
            padding-right: 40px;
            box-sizing: border-box;
            &::-webkit-scrollbar {
                width: 4px;
                border-radius: 8px;
                background: #FCFCFC;
            }
            &::-webkit-scrollbar-thumb {
            background: $prime-prime;
            border-radius: 12px;
            transition: all 0.15s ease-in-out;
            } 
            &::-webkit-scrollbar-track {
            background: transparent;
            }
        }
    }
    &__tabs{
        overflow-y: auto;
        display: flex;
        padding: 30px 24px;
        align-items: flex-start;
        box-sizing: border-box;
        flex-direction: column;
        row-gap: 24px;
        max-width: 350px;
        width: 100%;
        height: 100%;
        box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.10);
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        width: 100%;
        min-height: 0;
        height: 0;
        background-color: white;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
        padding: 0;
        margin: 0; 
        &_active{
            min-height: 690px;
        }
    }
    &__promo{
        margin-top: -100px;
        width: 100%;
        max-width: 310px;
    }
    &__tabs-contents{
        display: flex;
        padding: 32px 45px;
        box-sizing: border-box;
        max-width: 720px;
        width: 100%;
        height: 100%;
    }
    &__tab-content{
        flex-direction: column;
        width: 100%;
        height: 100%;
        &-title{
            margin-bottom: 24px;
            color: $black-1;  
            font-family: 'SFProDisplay-Medium', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &-list-title{
            display: block;
            margin-bottom: 16px;
            color: $black-1;  
            font-family: 'SFProDisplay-Medium', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
        }
        &-link{
            color: $black-07;
            font-family: 'SFProDisplay-Regular', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
        &-list{
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
    }
}

.mm-spn--open{
    padding-left: 16px !important;
    border: none;
    padding-top: 5px !important;
    margin-bottom: 56px !important;
    transition: none !important;
    &::-webkit-scrollbar {
        display: none !important;
    }
}
.mm-spn{
    transition: none !important;
}
.mm-spn ul{
    transition: none !important;
}
.mm-spn.mm-spn--light{
    background: white !important;
}
.mm-spn.mm-spn--navbar ul::before{
    display: none;
}
.mm-spn a, .mm-spn span{
    padding: 0 !important;
}
[data-mm-spn-title="Menu"]::after{
    content: none;
}
[data-mm-spn-title="Menu"] > .mm-spn--open{
    top: 18px !important;
}
:not([data-mm-spn-title="Menu"]) > .mm-spn.mm-spn--navbar ul {
	top: calc(var(--mm-spn-item-height) + 20px);
}
.mm-spn.mm-spn--navbar::after{
    opacity: 1;
    color: $black-1;
    font-family: 'SF Pro Display-Medium', sans-serif;
    font-size: 24px;
    font-weight: 700;    
    text-align: left;
}
.mm-spn.mm-spn--navbar::before{
    opacity: 1;
    border-top: 2px solid $prime-prime;
    border-left: 2px solid $prime-prime;
}
.mm-spn li{
    display: flex;
}
.mm-spn.mm-spn--navbar::before {
	top: calc(var(--mm-spn-item-height)/ 2 + 9px) ;
}
.mm-spn.mm-spn--navbar::after { 
	top: 8px;
}
:not(.accordion) .mm-spn ul{
    overflow-y: auto !important;
    overflow-x: hidden;
}
.mm-spn ul .accordion-content__list::after{
    height: calc(var(--mm-spn-item-height) - 50px) !important;
}
.mobile-catalog{
    overflow: hidden;
    width: 0;
    position: fixed;
    height: calc(100vh - 56px);
    top: 0;
    left: 0;
    z-index: 20;
    background-color: white;
    @media (min-width:1200px){
        display: none;
    }
    &__menu{
        box-sizing: border-box;
        >::after{
            display: none !important;
        }
        &-btn{
            display: flex !important; // переопределение плагина
            column-gap: 8px;
            align-items: center;
            padding: 0;
            color: $black-1;  
            font-family: 'SF Pro Display-Medium', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            height: 24px;
            white-space: nowrap;
            pointer-events: none;
            &-icon{
                display: inline-flex;
                height: 24px;
            }
        }
        &-list{
            background-color: white;
            display: flex !important;
            flex-direction: column;
            row-gap: 20px;
            overflow-y: scroll;
            &_catalog-padding{
                margin-bottom: 88px !important;
            }
            &_product-review-padding{
                margin-bottom: 112px !important;
            }
            li{
                width: 97%;
                a{
                    width: 100%;
                    border: none !important;
                    color: $black-1;  
                    font-family: 'SF Pro Display-Medium', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    white-space: nowrap;
                }
                &::after{
                    border: transparent !important;
                }
                &::before{
                    display: none !important;
                    border: none !important;
                }
            }
            a{
                &::after{
                    display: none !important;
                    border: none !important;
                }
                &::before{
                    display: none !important;
                    border: none !important;
                }
            }
        }
    }
    &_active{
        // transition: .3s ease-out;
        width: 100%;
        height: 100vh;
    }
    &__submenu-btn{
        position: relative;
        display: flex;
        &::after{
            display: block !important;
            content: url('../img/catalog/dashicons_arrow-right.svg') !important;
            position: absolute;
            right: 0 !important;
            opacity: 1 !important;
            height: 24px;
        }
    }
    &__accordion{
        display: flex;
        flex-direction: column;
        &-btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $black-1;
            text-align: left;
            font-family: 'SF Pro Display-Medium', sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 16px;
            &-icon{
                height: 20px;
                pointer-events: none;
                transition: .3s
            }
        }
        &-btn.accordion-btn_active{
            span{
                transform: rotate(180deg);
                transition: .3s
            }
        }
        &-content{
            display: flex;
            &-list{
                display: flex !important;
                flex-direction: column;
                width: 100%;
                position: static !important;
                height: fit-content;
                row-gap: 12px !important;
            }
            &-item{
                display: block;
                overflow-y: unset !important;
            }
            &-link{
                font-family: 'SF Pro Display-Regular', sans-serif;
                color: $black-1 !important;
                font-size: 18px !important;
                font-weight: 400 !important;
            }
        }
        
    }
}

.mobile-filter{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding-bottom: 86px;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    z-index: 10;
    
    &-btn{
        &_active{
            .tab-bar__item-icon svg path{
                fill: $prime-prime;
            }
            .tab-bar__item-text{
                color: $prime-prime;
            }
        }
        &__count{
            display: block;
            min-width: 27px;
            width: fit-content;
            text-align: center;
            padding: 4px;
            box-sizing: border-box;
            border-radius: 50%;
            background-color: $prime-prime;
            color: white;
            font-family: 'SF Pro Display-Regular', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
    }
    &__block{
        width: 400px;
        height: 100%;
        background: var(--black-005, #FCFCFC);
    }
    &__close-btn{
        display: inline-flex;
        position: absolute;
        right: 16px;
        top: 16px;
        outline: none;
        background: transparent;
        border: none;
    }
    &_active{
        display: block;
        @media(min-width:1200px){
            display: none;
        }
    }

}
.mobile-sort{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding: 40px 16px 110px 16px;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
    z-index: 10;
    color: var(--black-1, #31373C);
    font-family: 'SF Pro Display-Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        height: 100%;
        overflow-y: auto;
        &-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &_active{
                color: $prime-prime;
                &::after{
                    content: url('../img/catalog/bi_check.png');
                    position: absolute;
                    height: 24px;
                    width: 20px;
                    right: 0;
                }
            }
        }
    }
    &-btn{
        &_active{
            .tab-bar__item-icon svg path{
                fill: $prime-prime;
            }
            .tab-bar__item-text{
                color: $prime-prime;
            }
        }
    }
    &__close-btn{
        display: inline-flex;
        position: absolute;
        right: 16px;
        top: 16px;
        outline: none;
        background: transparent;
        border: none;
    }
    &_active{
        display: block;
        @media(min-width:1200px){
            display: none;
        }
    }
     
}