.product{
    display: flex;
    flex-direction: column;
    max-width: 275px;
    width: 275px;
    // min-height: 532px;
    height: 100%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
    padding: 16px;
    box-sizing: border-box;
    @include s_576{
        width: 150px;
        padding: 8px;
        // min-height: 508px;
        height: 100%;
        border: none;
        box-shadow: unset;
    }
    &:hover{
        .product__preview-button{
            display: flex;
            @include s_1200{
                display: none;
            }
        }
    }
    &__delete-btn{
        margin-left: auto;
        display: inline-flex;
        svg{
            &:hover{
                path{
                    fill: $prime-prime;
                }
            }
            
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        @include s_576{
            flex-direction: column-reverse;
            row-gap: 13px;
            align-items: unset;
        }
    }
    &__rating{
        display: flex;
        column-gap: 4px;
        align-items: center;
    }
    &__rating-link{
        color: $prime-prime;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        border: none;
        background-color: transparent;
        &:hover{
            color: #7AABFF;
        }
    }
    &__rating-stars{
        display: flex;
        column-gap: 2px;
    }
   
    &__top-buttons{
        &_hidden{
            display: none;
        }
        display: flex;
        column-gap: 14px;
        @include s_576{
            justify-content: space-between;
        }
    }
    &__top-button{
        border: none;
        background-color: transparent;
        outline: none;
        height: 24px;
        &:hover{
            cursor: pointer;
            
            svg path{
                stroke: $prime-prime;
            }
        }
    }
    &__list-part{
        display: none;
    }
    &__article-number{
        color: $black-07;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__details{
        display: none;
        color: $black-07;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
    &__more-details-btn{
        color: $prime-prime;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__delivery-info{
        display: none;
        align-items: center;
        column-gap: 8px;
        color: $black-07;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__delivery-icon{
        display: inline-flex;
    }
    &__preview{
        position: relative;
        width: 208px;
        height: 208px;
        display: flex;
        flex-shrink: 0;
        margin: 0 auto;
        margin-bottom: 10px;
        justify-content: center;
        @include s_576{
            width: 134px;
            height: 134px;
        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-button{
            display: none;
            align-items: center;
            position: absolute;
            column-gap: 4px;
            bottom: 20px;
            left: 50%;
            color: $black-1;
            font-family: 'SF Pro Display-Medium', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transform: translate(-50%, 0);
            padding: 16px 23px 16px 22px;
            border-radius: 32px;
            border: 1px solid $black-01;
            white-space: nowrap;
            background: rgba(255, 255, 255, 0.80);
            &-icon{
                display: inline-flex;
            }
            &:hover{
                cursor: pointer;
                background-color: $prime-prime;
                color: white;
                border: 1px solid transparent;
                svg path{
                    stroke: white;
                }
            } 
        }
    }
    &__name{
        display: block;
        overflow: hidden;
        color: $black-1;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 8px;
        box-sizing: border-box;
        @include s_576{
            font-size: 16px;
        }
        &:hover{
            color: $prime-prime;
        }
    }
    &__status{
        display: flex;
        align-items: center;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: auto;
        margin-bottom: 16px;
        column-gap: 4px;
        @include s_576{
            margin-bottom: 8px;
        }
        &::before{
            content: "";
            width: 16px;
            height: 16px;
            background-color: #77EE83;
            border-radius: 50%;
            flex-shrink: 0;
        }
        &-text{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 20px;
            @include s_576{
                width: 100px;
            }
        }
    }
    &__status_not-actual{
        &::before{
            content: url("../img/product/bx_time.svg");
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: transparent;
            transform: translateY(-20%);
            margin-right: 5px;
        }
    }
    &__basket-button{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        padding: 12px;
        margin-bottom: 5px;
        border-radius: 8px;
        background: $prime-prime;
        font-family: 'SF Pro Display-Medium', sans-serif;
        color: white;
        border: none;
        outline: none;
        font-size: 17px;
        font-weight: 500;
        overflow-x: hidden;
        transition: .3s;
        @include s_576{
            padding: 0 2px;
            height: 48px;
        }
        &:hover{
            transition: .3s;
            background: #7AABFF;
        }
        &-icon{
            height: 24px;
            &_hidden{
                display: none;
            }
        }
        &-text{
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include s_576{
                display: none;
            }
        }
        &-mobile-text{
            display: none;
            @include s_576{
                display: block;
                white-space: initial;
            }
        }
        &_active{
            background: $prime-green;
            &:hover{
                transition: .3s;
                background-color: #3EDD4E;
            }
        }
        &_not-actual{
            border: 1px solid $prime-prime;
            color: $prime-prime;
            background: transparent;
            overflow: hidden;
            padding: 13px;
            @include s_576{
                padding: 0 2px;
                height: 48px;
            }
            &:hover{
                border: 1px solid transparent;
                color: white;
                background: #7AABFF;
            }
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__bottom-buttons{
        display: flex;
        justify-content: space-between;
        @include s_576{
            flex-direction: column;
            row-gap: 8px;
        }
    }
    &__bottom-buttons_hidden{
        visibility: hidden;
    }
    &__credit-button{
        &:hover{
            cursor: pointer;
            transition: .3s;
            color: #7AABFF;
        }
        text-align: left;
        color: $prime-prime;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        border: none;
        outline: none;
        background-color: transparent;
    }
    &__fast-buy-button{
        &:hover{
            cursor: pointer;
            transition: .3s;
            color: #7AABFF;
        }
        text-align: left;
        color: $prime-prime;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        border: none;
        outline: none;
        background-color: transparent;
    }
    &__price{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        column-gap: 6px;
        @include s_576{
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__price-text{
        color: $black-1;
        font-family: 'SF Pro Display-Bold', sans-serif;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
    }
    &__price-text_hidden{
        @include s_576{
            display: none;
        }
    }
    &__price-sale{
        display: flex;
        align-items: center;
        column-gap: 4px;
        padding: 4px 8px;
        border-radius: 4px;
        background: #DCE9FF;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        color: #4370BE;
        &_hidden{
            display: none;
            // visibility: hidden;
        }
    }
    &__price-sale-icon{
        display: block;
        text-align: center;
        line-height: 16px;
        color: #DCE9FF;
        border-radius: 50%;
        font-size: 13px;
        transform: rotate(-18.346deg);
        width: 16px;
        height: 16px;
        font-family: 'SF Pro Display-Bold', sans-serif;
        font-weight: 700;
        background-color: #AECCFF;
    }
    &__buy-info{
        margin-bottom: 14px;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 14px;
        font-weight: 400;
        &_not-actual{
            visibility: hidden;
        }
    }
    &__buy-info_hidden{
        visibility: hidden;
    }
}
.product-slider{
    &__wrapper{
        @include s_768(){
            padding-bottom: 20px;
        }
    }
}
.rating-star{
    height: 16px;
}
.rating-stars{
    display: flex;
    column-gap: 2px;
}
.rating-star_active{
    svg path{
        fill: rgba(255, 158, 12, 1);
    }
    &-blue{
        svg path{
            fill: rgba(66, 134, 250, 1);
        }
    }
   
}
.rating-star_big{
    width: 24px;
    height: 24px;
    svg{
        width: 24px;
        height: 24px;
    }
}

