.subscription-bonus{
    padding-top: 80px;
    padding-bottom: 86px;
    @include s_768{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    @include s_576{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 18px;
        row-gap: 24px;
        @include s_576{
            row-gap: 16px;
        }
    }
}
.bonus-form{
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-radius: 16px;
    background: #EDF5FF;
    padding: 54px 56px 25px;
    box-sizing: border-box;
    width: 500px;
    flex-grow: 1;
    min-height: 284px;
    @include s_768{
        min-height: unset;
    }
    @include s_700{
        padding: 24px;
        justify-content: center;
        align-items: center;
    }
    &__content{
        position: relative;
        z-index: 2;
        max-width: 350px;
        @include s_700{
            max-width: unset;
            width: 100%;
        }
    }
    &__title{
        color: $black-1;
        font-family: 'SF Pro Display-Bold', sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
        @include s_700{
            font-size: 20px;
        }
    }
    &__info{
        color: $black-07;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 16px;
        @include s_700{
            margin-bottom: 24px;
        }
    }
    &__btns{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        width: fit-content;
        @include s_700{
            width: 100%;
        }
    }
    &__image{
        opacity: 1;
        img:nth-child(1){
            position: absolute;
            right: 0;
            bottom: 0;
        }
        img:nth-child(2){
            position: absolute;
            right: 28px;
            transform: translateY(45%);
            top: 0;
        }
        @include s_1430{
            opacity: .3;
            z-index: 1;
        }
        @media(max-width:1065px){
            opacity: 1;
        }
        @include s_700{
            display: none;
        }
    }
}
.subscription-form{
    width: 500px;
    flex-grow: 1;
    min-height: 284px;
    border-radius: 16px;
    background: $black-005;
    padding: 63px 56px 25px;
    box-sizing: border-box;
    @include s_700{
        padding: 24px;
    }
    &__title{
        display: flex;
        column-gap: 4px;
        align-items: center;
        margin-bottom: 21px;
        @include s_576{
            margin-bottom: 16px;
        }
        &-text{
            color: var(_black-1, #31373C);
            font-family: 'SF Pro Display-Bold', sans-serif;
            font-size: 32px;
            font-weight: 700;
            @include s_576{
                font-size: 24px;
            }
        }
    }
    &__info{
        margin-bottom: 16px;
        color: $black-07;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        @include s_576{
            margin-bottom: 8px;
        }
    }
    &__form{
        display: flex;
        column-gap: 8px;
        row-gap: 8px;
        @include s_700{
            flex-direction: column;

        }
    }
    &__label{
        position: relative;
        color: $black-1;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        min-width: 180px;
    }
    &__input{
        padding: 14.5px 16px 14.5px 16px;
        border-radius: 8px;
        border: 1px solid $black-04;
        outline: none;
        height: 48px;
        box-sizing: border-box;
        min-width: 236px;
        width: 100%;
        &::placeholder{
            color: var(--black-07, #595959);
            font-family: 'SF Pro Display-Regular', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
        &:focus, &:not(:placeholder-shown){
            padding-top: 22px;
            padding-bottom: 7px;
        }
        &:focus + .subscription-form__placeholder, &:not(:placeholder-shown) + .subscription-form__placeholder{
            top: 4px;
            font-size: 12px;
        }
    }
    &__input::placeholder{
        color: transparent;
    }
    &__placeholder{
        position: absolute;
        left: 14.5px;
        top: 14px;
        transition:all 0.25s ease;
        pointer-events:none;
    }
}