.delivery{
    padding-top: 40px;
    @include s_576{
        padding-top: 24px;
    }
    &_no-padding{
        padding: 0;
    }
    &__title{
        color: $black-1;
        font-family: 'SF Pro Display-Bold', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 12px;
        @include s_900{
            margin-bottom: 24px;
            font-size: 48px;
            &_product-page{
                font-size: 40px;
                margin-bottom: 12px;
            }
        }
        @include s_576{
            margin-bottom: 8px;
            font-size: 24px;
        }
        
    }
    &__subtitle{
        color: $black-1;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 56px;
        @include s_900{
            margin-bottom: 24px;
            font-size: 24px;
        }
        @include s_576{
            font-size: 20px;
            margin-bottom: 48px;
        }
    }
    &__options{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 64px;
        @include s_900{
            margin-bottom: 32px;
        }
        @include s_576{
            margin-bottom: 24px;
        }
    }
    &__option{
        display: flex;
        flex-direction: column;
        width: 350px;
        flex-grow: 1;
        padding: 24px;
        box-sizing: border-box;
        border-radius: 16px;
        height: auto;
        background: $prime-prime-5;
        @include s_576{
            padding: 16px;
        }
        &-header{
            display: flex;
            align-items: center;
            column-gap: 12px;
            margin-bottom: 11px;
            @include s_576{
                align-items: flex-start;
            }
        }
        &-title{
            color: $black-1;
            font-family: 'SF Pro Display-Medium', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include s_576{
                font-size: 20px;
            }
        }
        &-content{
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            margin-bottom: 16px;
            @include s_576{
                margin-bottom: 8px;
            }
        }
        &-suggestion{
            color: $prime-prime;
            font-family: 'SF Pro Display-Medium', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &-info{
            color: $black-07;
            font-family: 'SF Pro Display-Regular', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &-price{
            color: $prime-prime;
            font-family: 'SF Pro Display-Medium', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: right;
            margin-top: auto;
            @include s_768{
                text-align: left;
            }
            @include s_576{
                font-size: 24px;
            }
        }
        &-icon{
            width: 48px;
            height: 48px;
            @include s_576{
                width: 32px;
                height: 32px;
            }
        }
    }
}