.search-page{
    padding-top: 40px;
    &__title{
        color: $black-1;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 16px;
        @include s_576{
            font-size: 24px;
            margin-bottom: 8px;
        }
    }
    &__list-title{
        color: $black-1;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 16px;
        @include s_576{
            font-size: 24px;
        }
    }
    &__name{
        display: block;
        color: $prime-prime;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 40px;
        @include s_900{
            margin-bottom: 32px;
        }
        @include s_576{
            font-size: 24px;
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(242px, 1fr));
        gap: 24px;
        justify-content: flex-start;
        &_articles{
            grid-template-columns: repeat( auto-fill, minmax(342px, 1fr));
        }
        @include s_576{
            grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
            &_articles{
                grid-template-columns: repeat( auto-fill, minmax(220px, 1fr));
            }
        }
       
    }
    &__list-wrapper{
        margin-bottom: 40px;
        @include s_900{
            margin-bottom: 32px;
        }
        @include s_576{
            margin-bottom: 16px;
        }
        &:last-child{
            margin-bottom: 40px;
        }
    }
    &__products-list-item{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__product{
        display: flex;
        max-height: unset;
        max-width: unset;
        width: 100%;
    }
    &__article{
        // max-width: 342px;
        width: unset;
        // width: 100%;
        @include s_768{
            // max-width: 224px;
        }
        .article-card__info{
            -webkit-line-clamp: 3;
            @include s_768{
                -webkit-line-clamp: 5;
            }
        }
        img{
            // margin-left: -30px;
            // width: 326px;
            max-height: 183px;
            text-align: start;
            @include s_576{
                max-height: 130px;
                width: unset;
            }
        }
        
    }
}