.help{
    margin-top: 40px;
    margin-bottom: 40px;
    @include s_768{
        margin-top: 16px;
    }
    @include s_576{
        margin-bottom: 16px;
    }
    &_big-container{
        background-color: $prime-prime-10;
        margin-top: 56px;
        margin-bottom: 24px;
        @include s_768{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $prime-prime-10;
        column-gap: 24px;
        padding: 27px 0;
        box-sizing: border-box;
        border-radius: 16px;
        @include s_576{
            flex-direction: column;
            row-gap: 16px;
            padding: 24px;
            align-items: flex-start;
        }
        &_align-center{
            justify-content: flex-start;
            background-color: unset;
            @include s_576{
                justify-content: center;
                align-items: center;
            }
        }
       
    }
    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        @include s_576{
            align-items: flex-start;
        }
    }
    &__title{
        color: $black-1;
        font-family: 'SF Pro Display-Bold', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include s_576{
            font-size: 24px;
        }
    }
    &__description{
        color: $black-1;
        font-family: 'SF Pro Display-Regular', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
    }
    &__img {
        display: inline-flex;
      
        svg{
            @include s_576{
                width: 80px;
                height: 80px;
            }
        }
        
    }
    &__img_mini{
        svg{
            @include s_576{
                width: 56px;
                height: 56px;
            }
        }
    }
    &__btn{
        &:hover{
            cursor: pointer;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
        }
        padding: 14.5px 16px;
        width: fit-content;
        border: none;
        border-radius: 8px;
        background: #FFF;
        color: $black-1;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &_large{
            @include s_576{
                width: 100%;
            }
        }
       
    }
}