$prime-prime : #4286FA;
$prime-green : #0ECF21;
$prime-prime-2 : rgba(66, 134, 250, 0.02);
$prime-prime-5: rgba(66, 134, 250, 0.05);
$prime-prime-10: rgba(66, 134, 250, 0.10);
$black-1: #31373C;
$black-01: #E7E7E7;
$black-03:#CECECE;
$black-04: #A0A0A0;
$black-05: #888;
$black-005: #FCFCFC;
$black-07: #595959;

@mixin s_1460{
    @media screen and(max-width:1460px){
        @content;
    }
}
@mixin s_1430{
    @media screen and(max-width:1400px){
        @content;
    }
}
@mixin s_1260{
    @media screen and(max-width:1260px){
        @content;
    }
}
@mixin s_1200{
    @media screen and(max-width:1200px){
        @content;
    }
}
@mixin s_1000{
    @media screen and(max-width:1000px){
        @content;
    }
}
@mixin s_900{
    @media screen and(max-width:900px){
        @content;
    }
}
@mixin s_800{
    @media screen and(max-width: 800px){
        @content;
    }
}
@mixin s_768{
    @media screen and(max-width: 770px){
        @content;
    }
}
@mixin s_700{
    @media screen and(max-width: 700px){
        @content;
    }
}
@mixin s_520{
    @media screen and(max-width: 520px){
        @content;
    }
}
@mixin s_600{
    @media screen and(max-width: 600px){
        @content;
    }
}
@mixin s_576{
    @media screen and(max-width: 577px){
        @content;
    }
}
@mixin s_460{
    @media screen and(max-width: 460px){
        @content;
    }
}
@mixin s_380{
    @media screen and(max-width: 380px){
        @content;
    }
}

:root{
    --gl-star-color: #fdd835;                 
    --gl-star-color-inactive: #dcdce6;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke: 0px;
    -webkit-tap-highlight-color: transparent;
    -moz-font-smoothing: antialiased;
    font-synthesis: weight;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    @include s_1200(){
        box-sizing: border-box;
    }
}
.container{
    max-width: 1460px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    @include s_1200(){
        padding: 0 24px;
    }
    @include s_576(){
        padding: 0 16px;
    }
    @include s_380(){
        padding: 0 10px;
    }
}
.shop-title{
    text-align: center;
    color: $black-1;
    font-family: 'SF Pro Display-Bold', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    padding: 0 18px;
    line-height: normal;
    margin: 24px auto;
    @include s_768(){
        margin: 24px auto 34px;
        font-size: 32px;
    }
    @include s_576(){
        margin: 16px 0;
    }
}
.section-title{
    color: $black-1;
    font-family: 'SF Pro Display-Medium', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-bottom: 28px;
    @include s_576(){
        font-size: 24px;
    }
}
.show-all-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
    flex-wrap: wrap;
    row-gap: 16px;
    @include s_576{
        flex-direction: column;
        align-items: flex-start;
    }
    @include s_700(){
        margin-bottom: 16px;
        &-title{
            font-size: 24px;
        }
    }
}
.show-all-btn{
    &:hover{
        span:first-child{
            color: #7AABFF;
        }
        span:nth-child(2){
            background: #7AABFF;
        }
    }
    &__link{
        display: flex;
        column-gap: 12px;
        align-items: center;
    }
    &__text{
        color: $prime-prime;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: $prime-prime;
        border-radius: 50%;
        @include s_700(){
            width: 24px;
            height: 24px;
            svg{
                width: 18px;
                height: 18px;
            }
        }
    }
    transition: .3s;
}
.hero__slider-pagination{
    @include s_768(){
        display: flex;
    }
}
.swiper-pagination{
    display: flex;
    margin-top: 16px;
    justify-content: center;
    column-gap: 8px;
    padding: 8px 0;
    @include s_576(){
        display: none;
    }
}
.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    border-radius: 500px;
    background: $black-01;
    border: 1px solid transparent;
    &:hover{
        cursor: pointer;
    }
}
.swiper-pagination-bullet-active{
    border: 1px solid $black-03;
}
.swiper-button-prev{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    width: fit-content;
   
    @include s_576{
        display: none;
    }
    &:hover{
        cursor: pointer;
    }
    &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: rgba(66, 134, 250, 0.10)
    }
}
.swiper-button-next{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    width: fit-content;
    @include s_576{
        display: none;
    }
    &:hover{
        cursor: pointer;
    }   
    &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: rgba(66, 134, 250, 0.10)
    }
}
.products-row{
    padding-top: 48px;
    padding-bottom: 24px;
    @include s_768(){
        padding-bottom: 16px;
    }
    @include s_576(){
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &__inner{
        position: relative;
        overflow-x: hidden;
        padding: 3px unset 17px unset;
    }
    &__title{
        margin: 0;
    }
}
.swiper-slide{
   width: unset;
   height: unset;
}
.swiper-pagination-bullet:only-child {
    visibility: hidden;
}
.swiper-button-disabled{
    display:none;
}
.slider-default-button-prev{
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 36.5%;
    @include s_1200(){
        left: 24px;
    }
    &_align-center{
        top: 48%;
    }
    svg path{
        fill: $prime-prime;
    }
    &:hover{
        cursor: pointer;
    }
    &__icon{
        background-color:  #EBF4FF;
    }
}
.slider-default-button-next{
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 36.5%;
    @include s_1200(){
        right: 24px;
    }
    &_align-center{
        top: 48%;
    }
    svg path{
        fill: $prime-prime;
    }
    &:hover{
        cursor: pointer;
    }
    &__icon{
        background-color:  #EBF4FF;
    }
}
.show-more-btn{
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid $prime-prime;    
    color: $prime-prime;
    padding: 10.5px;
    font-family: 'SF Pro Display-Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;  
    &:hover{
        cursor: pointer;
        color: white;
        background-color: #7AABFF;
        border: 1px solid transparent;
    }
}
.custom-checkbox{
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: $black-1;
    font-family: 'SF Pro Display-Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
    &:hover{
        cursor: pointer;
    }
    &__input{
        width: 24px;
        height: 24px;
        border: 1px solid $black-01;
        border-radius: 4px;
        appearance: none;
        cursor: pointer;
        flex-shrink: 0;
    }
    &__input:checked{
        background: $prime-prime;
        background-image: url("../img/comparison/bi_check.svg");
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        border: none;
    }
    
}
.custom-switch{
    display: flex;
    column-gap: 8px;
    align-items: center;
    &__label{
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        border: 1px solid $black-01;
        background: $black-01;
        border-radius: 20px;
        transition: all 0.3s;
        &:hover{
            cursor: pointer;
        }
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius:50%;
            background-color: white;
            top: 0px;
            left: 0px;
            transition: all 0.3s;
        }
    }
    &__input{
        appearance: none;
        position: absolute;
        &:checked ~ .custom-switch__label::after{
            left : 10px;
            background-color: $prime-prime;
        }
        &:checked + .custom-switch__label {
            background-color: #7AABFF;
            border: 1px solid $prime-prime;
        }  
    }
    &__text{
        color: $black-1;
        font-family: 'SF Pro Display-Medium', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
.default-btn{
    display: block;
    color: #FFF;
    font-family: 'SF Pro Display-Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: $prime-prime;
    transition: .3s;
    padding: 14.5px 16px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    &:hover{
        cursor: pointer;
        transition: .3s;
        background: #7AABFF;
    }
    &_green{
        background: $prime-green;
        &:hover{
            background: #3EDD4E;
        }
    }
    &_ghost{
        color: $prime-prime;
        border: 1px solid $prime-prime;
        background: transparent;
        &:hover{
            background: #D3E4FF;
            border: 1px solid transparent;
        }
    }
}
.close-btn{
    &:hover{
        cursor: pointer;
        svg path{
            fill: $prime-prime;
        }
    }
}
.map-btn{
    display: flex;
    align-items: center;
    column-gap: 3px;
    border: none;
    padding: 8px 10px;
    box-sizing: border-box;
    color: $black-1;
    font-family: 'SF Pro Display-Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background:  #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    white-space: nowrap;
    &:hover{
        cursor: pointer;
    }
}
.chat-button{
    display: flex;
    column-gap: 2.5px;
    align-items: center;
    color: $prime-prime;
    font-family: 'SF Pro Display-Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
    border: 1px solid $prime-prime;
    background-color: transparent;
    margin-bottom: 16px;
    margin-top: 16px;
    &:hover{
        cursor: pointer;
    }
}
.empty-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $black-1;
    margin-bottom: 120px;
    &__title{
        font-family: 'SF Pro Display-Bold', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 13px;
        @include s_576(){
            font-size: 20px
        }
    }
    &__text{
        display: flex;
        align-items: center;
        column-gap: 8px;
        row-gap: 8px;
        flex-wrap: wrap;
        font-family: 'SF Pro Display-Semibold', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @include s_576(){
            font-size: 16px;
        }
    }
    &__icon{
        display: inline-flex;
    }
}
.default-input{
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid var(--black-01, #E7E7E7);
    font-family: 'SF Pro Display-Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &::placeholder{
        color: var(--black-04, #A0A0A0);
    }
}
.default-radio{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--black-1, #31373C);
    font-family: 'SF Pro Display-Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    &__input{
        position: relative;
        border: 1px solid var(--black-01, #E7E7E7);
        width: 24px;
        height: 24px;
        appearance: none;
        border-radius: 50%;
        cursor: pointer;
        &:checked{
            border: 1px solid $prime-prime;
        }
        &:checked::after{
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            border-radius: 50%;
            background-color: $prime-prime;

        }
    }
}
.rating-input{
    display: flex;
    align-items: center;
    column-gap: 4px;
    &__star{
        position: relative;
        width: 24px;
        height: 24px;
   
        &-input{
            position: absolute;
            left: 0;
            top: 0;
            appearance: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &_active + .rating-input__star-icon{
                path{
                    fill: $prime-prime;
                }
            }
        }
    }
}

@import "./components/main-page/header";
@import "./components/main-page/collection-line";
@import "./components/main-page/hero";
@import "./components/main-page/tab-bar";
@import "./components/main-page/popular-categories";
@import "./components/main-page/watched";
@import "./components/main-page/ceo";
@import "./components/main-page/popular-brands";
@import "./components/main-page/blog";
@import "./components/main-page/advantages";
@import "./components/main-page/catalog";
@import "./components/main-page/product";
@import "./components/main-page/mini-promo";
@import "./components/main-page/subscription-bonus";
@import "./components/main-page/footer";
@import "./components/selections-page/selections";
@import "./components/catalog-page/breadcrumbs";
@import "./components/catalog-page/catalog-page";
@import "./components/catalog-page/news-block";
@import "./components/catalog-page/help";
@import "./components/additional/warranty";
@import "./components/additional/faq";
@import "./components/additional/credit";
@import "./components/additional/bonus";
@import "./components/additional/referal";
@import "./components/additional/favorites";
@import "./components/additional/delivery";
@import "./components/additional/comparison";
@import "./components/additional/error-404";
@import "./components/additional/search-page";
@import "./components/additional/pay";
@import "./components/additional/busket";
@import "./components/additional/busket-end-page";
@import "./components/additional/contacts";
@import "./components/additional/blog";
@import "./components/additional/product-review";
@import "./components/additional/trade-in";
@import "./components/additional/popular-brands-page";
@import "./components/modals/modal-window";

