/* @font-face {
    font-family: 'SF Pro Display-Regular';
    src: url('../fonts/SFProDisplay/SF-Pro-Display-Regular.otf');
}
@font-face {
    font-family: 'SF Pro Display-Bold';
    src: url('../fonts/SFProDisplay/SF-Pro-Display-Bold.otf');
}
@font-face {
    font-family: 'SF Pro Display-Medium';
    src: url('../fonts/SFProDisplay/SF-Pro-Display-Medium.otf');
}
@font-face {
    font-family: 'SF Pro Display-HeavyItalic';
    src: url('../fonts/SFProDisplay/SF-Pro-Display-HeavyItalic.otf');
} */

@font-face {
    font-family: 'Droid Sans-Bold';
    src: url('../fonts/DroidSans/DroidSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display-Medium';
    src: url('../fonts/SFProDisplay2/SFProDisplay-Medium.woff2') format('woff2'),
         url('../fonts/SFProDisplay2/SFProDisplay-Medium.woff') format('woff'),
         url('../fonts/SFProDisplay2/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display-Semibold';
    src: url('../fonts/SFProDisplay2/SFProDisplay-Semibold.eot');
    src: url('../fonts/SFProDisplay2/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay2/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay2/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display-Bold';
    src: url('../fonts/SFProDisplay2/SFProDisplay-Bold.eot');
    src:url('../fonts/SFProDisplay2/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay2/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay2/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display-HeavyItalic';
    src: url('../fonts/SFProDisplay2/SFProDisplay-HeavyItalic.eot');
    src: 
        url('../fonts/SFProDisplay2/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay2/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('../fonts/SFProDisplay2/SFProDisplay-HeavyItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display-Regular';
    src: url('../fonts/SFProDisplay2/SFProDisplay-Regular.eot');
    src:url('../fonts/SFProDisplay2/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay2/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay2/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display-Light';
    src: url('../fonts/SFProDisplay2/SFProDisplay-Light.eot');
    src:url('../fonts/SFProDisplay2/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay2/SFProDisplay-Light.woff') format('woff'),
        url('../fonts/SFProDisplay2/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

 

@font-face { 
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/InterBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}